@tailwind base;
@tailwind components;
@tailwind utilities;

.main-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
}

.card {
  width: 300px;
  padding: 1rem;
  background: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 1px 4px rgba(0,0,0,0.11);
  border: 1px solid #e5e7eb;
  margin-bottom: 2rem;
}

body {
  background: #f6f8fa;
}
